body{
    background-color:#F4DF4EFF;
}
h1{
    
    font-size:50px;
}
.clr{
    color :#949398FF;
}
.g{
    color:#949398FF ;
}

.r{
    color:#949398FF ;
}
.l{
    color:#949398FF ;
}
.k{
    color:#949398FF ;
}
.in{
    color: #F4DF4EFF;
    background-color: black;
    size: 7%;
    
}
.al{
   
    background-color: #F4DF4EFF;
    
  
}
.ref{
    color:black ;
}